body {
    margin: 0;
}



/* texto formatado */
.text_abnt {
    line-height: 1.5;
    text-align: justify;
}


/* Menu */
.bg_menu {
    background-color: #d4d4d4;
}

.menu_li{
    border-radius: 5px;
}

.menu_li:hover {
    border-radius: 5px;
    background-color: rgb(184, 184, 184);
}




/* imagem */

.centralizar_section_imagem{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;
    margin: 4% 0 0 0;

    background-color: #e9e9e9;
}

.div_imagem{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
}

.imagem_text{
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* parte do Bem Vindo */
.centralizar_section_bemvindo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 0;
    
    width: 100%;
}

.div_bem_vindo {
    display: flex;
    flex-direction: column;
    margin: 10% 0 10% 0;
    width: 60%;
}

/* parte do servicos realizados */
.centralizar_section_servicos{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 0;
    
    width: 100%;

    background-color: #e9e9e9;

}

.div_servicos{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 6% 0 8% 0;
}

.div_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card_servico{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    margin: 9% 3% 0 3%;
    width: 300px;
    height: 230px;
}
.card_img{
    width: 100%; 
    height: 73%; 
    border-radius: 10px;
}
.card_titulo{
    height: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_botao{
    display: flex;
    justify-content: center;
    margin: 6% 0 0 0;
}


/* parte do orçamento */
.centralizar_section_orcamento{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 0;
    

    width: 100%;

}
.div_orcamento{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8% 0 8% 0;
    width: 60%;
}


.form{
    display: flex;
    flex-direction: column;

    width: 100%;
}

.form_flex_nome_sobrenome{
    display: flex;
}

.form_nome_sobrenome{
    width: 48%;
}

.espacemnto_nome_sobrenome{
    margin: 0 4% 0 0;
}

.espacamento{
    margin: 3% 0 0 0;
}

.form_flex_botao{
    display: flex;
    justify-content: center;
}

.btn_tamanho{
    width: 100px;
}


/* Depoimentos */

.centralizar_section_depoimentos{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 0;
    width: 100%;

    background-color: #e9e9e9;
    
}
.div_depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60%;
    margin: 8% 0 9% 0;
    border-radius: 15px;
    
}

.div_depoimentos_flex{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    width: 100%;
 
}

.card_depoimento{
    border-radius: 8px;

    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.depoimento_espacamento_cards{
    margin: 2% 2% 2% 2%;
}

.paragrafo_depoimento{
    font-size: 15px;
    margin: 8% 5% 10% 5%;
}

.h6_pessoa{
    font-size: 15px;
    margin: 3% 5% 0% 5%;
}


